.registration {
	min-width: 300px;
}

.title {
	text-align: center;
	font-family: 'Rubic', sans-serif;

	margin-bottom: 50px;
}

.form {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 25px;
	margin-bottom: 20px;
}

.startIcon {
	max-width: 25px;
	max-height: 25px;
	min-width: 25px;
	min-height: 25px;
	width: 25px;
	height: 25px;
	margin-right: 8px;

	&.password {
		cursor: pointer;
	}

	&.dark {
		fill: var(--black);
	}
}

.actions {
	display: flex;
	justify-content: center;
	grid-gap: 25px;
	margin-bottom: 10px;
}

.actionButton {
}

.note {
	text-align: center;
}

.note__text {
	display: inline-block;
	padding: 5px 0;
	color: var(--black);
}

.note__text_link {
	position: relative;
	color: var(--error);
	font-weight: bold;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 50%;
		bottom: -3px;
		width: 0;
		height: 2px;
		border-radius: 10px;
		background-color: var(--error);
		transform: translateX(-50%);
		transition: width 0.2s ease;
	}

	@media (hover: hover) {
		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
}
