.authorization {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}


.authorization__body {
	border-radius: 20px;
	border: 1px solid var(--black);
	padding: 30px 40px 10px 40px;
}