@import url('null.css');
@import url('colors.css');
@import url('fonts.css');

*::selection {
	background-color: var(--black); /* Цвет фона */
	color: var(--white); /* Цвет текста */
}

body {
	/* background-color: var(--white);
	color: var(--black); */
	font-family: 'Rubic', sans-serif;

	scrollbar-width: auto; /* Ширина полосы прокрутки */
	scrollbar-color: var(--white) var(--black);
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&.dark {
		background-color: var(--black);
		color: var(--white);
	}

	::-webkit-scrollbar {
		width: 12px; /* Ширина полосы прокрутки */
		height: 12px; /* Высота горизонтальной полосы прокрутки */
	}

	::-webkit-scrollbar-track {
		background: var(--black); /* Цвет фона трека */
	}

	::-webkit-scrollbar-thumb {
		background: var(--white); /* Цвет бегунка */
	}

	@media (prefers-color-scheme: dark) {
		background-color: var(--black);
		color: var(--white);
	}

	@media (prefers-color-scheme: light) {
		background-color: var(--white);
		color: var(--black);
	}
}

.container {
	display: block;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: 768px) {
		padding: 0 20px;
	}
}
