.base {
	max-height: inherit;
}

.link {
	display: inline-block;
	transition: all 0.2s ease;
}

.phone {
}

.eye {
}

.person {
	stroke: none;
}

.vk {
	transform: scale(1.4);

	@media (hover: hover) {
		&:hover {
			fill: #0077ff;
		}
	}

	@media (hover: none) {
		fill: #0077ff;
	}
}

.telegram {
	@media (hover: hover) {
		&:hover {
			fill: #54a9eb;
		}
	}
	@media (hover: none) {
		fill: #54a9eb;
	}
}

.viber {
	@media (hover: hover) {
		&:hover {
			fill: #7360f2;
		}
	}
	@media (hover: none) {
		fill: #7360f2;
	}
}

.whatsApp {
	@media (hover: hover) {
		&:hover {
			fill: #25d366;
		}
	}
	@media (hover: none) {
		fill: #25d366;
	}
}
