.theme {
	position: fixed;
	z-index: 1;
	display: flex;
	align-items: center;
	grid-gap: 20px;
	right: 40px;
	top: 40px;
	border-radius: 15px;
	background-color: var(--black-50);
	padding: 10px 20px;
	font-size: 21px;
	text-transform: none;
	color: var(--white);
	cursor: pointer;
}

.icon {
	fill: var(--black);
	width: 40px;
	height: 40px;
}